# Docker
POSTGRES_USER=bxzella
POSTGRES_PASSWORD=bxzella
POSTGRES_DB=bxzella
PGADMIN_DEFAULT_EMAIL=bxzella@bxzella.com
PGADMIN_DEFAULT_PASSWORD=bxzella
DATABASE_URL=postgresql://bxzella:bxzella@localhost:5432/bxzella

ENCRYPTION_SECRET=

# Bingx
USDT_HOST="open-api.bingx.com"
VST_HOST="open-api-vst.bingx.com"
# Bitunix
BITUNIX_HOST="https://fapi.bitunix.com"
