@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.32 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.32 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.32 0 0);
    --primary: oklch(0.62 0.19 259.76);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.45 0.03 257.68);
    --muted: oklch(0.98 0 0);
    --muted-foreground: oklch(0.55 0.02 264.41);
    --accent: oklch(0.95 0.03 233.56);
    --accent-foreground: oklch(0.38 0.14 265.59);
    --destructive: oklch(0.64 0.21 25.39);
    --border: oklch(0.93 0.01 261.82);
    --input: oklch(0.93 0.01 261.82);
    --ring: oklch(0.62 0.19 259.76);
    --chart-1: oklch(0.62 0.19 259.76);
    --chart-2: oklch(0.55 0.22 262.96);
    --chart-3: oklch(0.49 0.22 264.43);
    --chart-4: oklch(0.42 0.18 265.55);
    --chart-5: oklch(0.38 0.14 265.59);
    --sidebar: oklch(0.98 0 0);
    --sidebar-foreground: oklch(0.14 0 0);
    --sidebar-primary: oklch(0.2 0 0);
    --sidebar-primary-foreground: oklch(0.98 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.2 0 0);
    --sidebar-border: oklch(0.92 0 0);
    --sidebar-ring: oklch(0.71 0 0);

    --font-sans:
        "Geist", "Geist Fallback", ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
        "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol", "Noto Color Emoji";
    --font-serif: Source Serif 4, serif;
    --font-mono: JetBrains Mono, monospace;

    --radius: 0.375rem;

    --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-sm:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow-md:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
    --shadow-lg:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
    --shadow-xl:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
    --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

.dark {
    --background: oklch(0.2 0 0);
    --foreground: oklch(0.92 0 0);
    --card: oklch(0.27 0 0);
    --card-foreground: oklch(0.92 0 0);
    --popover: oklch(0.27 0 0);
    --popover-foreground: oklch(0.92 0 0);
    --primary: oklch(0.62 0.19 259.76);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.27 0 0);
    --secondary-foreground: oklch(0.92 0 0);
    --muted: oklch(0.27 0 0);
    --muted-foreground: oklch(0.72 0 0);
    --accent: oklch(0.38 0.14 265.59);
    --accent-foreground: oklch(0.88 0.06 254.63);
    --destructive: oklch(0.64 0.21 25.39);
    --border: oklch(0.37 0 0);
    --input: oklch(0.37 0 0);
    --ring: oklch(0.62 0.19 259.76);
    --chart-1: oklch(0.71 0.14 254.69);
    --chart-2: oklch(0.62 0.19 259.76);
    --chart-3: oklch(0.55 0.22 262.96);
    --chart-4: oklch(0.49 0.22 264.43);
    --chart-5: oklch(0.42 0.18 265.55);
    --sidebar: oklch(0.21 0.01 285.56);
    --sidebar-foreground: oklch(0.99 0 0);
    --sidebar-primary: oklch(0.49 0.24 264.41);
    --sidebar-primary-foreground: oklch(0.99 0 0);
    --sidebar-accent: oklch(0.27 0.01 285.81);
    --sidebar-accent-foreground: oklch(0.99 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.55 0.02 285.76);

    --shadow-2xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0 0 0 / 0.05);
    --shadow-sm:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 1px 2px -1px oklch(0 0 0 / 0.1);
    --shadow-md:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 2px 4px -1px oklch(0 0 0 / 0.1);
    --shadow-lg:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 4px 6px -1px oklch(0 0 0 / 0.1);
    --shadow-xl:
        0 1px 3px 0px oklch(0 0 0 / 0.1), 0 8px 10px -1px oklch(0 0 0 / 0.1);
    --shadow-2xl: 0 1px 3px 0px oklch(0 0 0 / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
        scrollbar-width: thin;
        scrollbar-color: var(--border) transparent;
    }
    html {
        @apply overflow-x-hidden;
    }
    body {
        @apply bg-background text-foreground min-h-svh w-full;
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }

    /* Prevent focus zoom on mobile devices */
    @media screen and (max-width: 767px) {
        input,
        select,
        textarea {
            font-size: 16px !important;
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}

@utility no-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@utility faded-bottom {
    @apply after:pointer-events-none after:absolute after:bottom-0 after:left-0 after:hidden after:h-32 after:w-full after:bg-[linear-gradient(180deg,_transparent_10%,_var(--background)_70%)] md:after:block;
}

/* styles.css */
.CollapsibleContent {
    overflow: hidden;
}
.CollapsibleContent[data-state="open"] {
    animation: slideDown 300ms ease-out;
}
.CollapsibleContent[data-state="closed"] {
    animation: slideUp 300ms ease-out;
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }
    to {
        height: 0;
    }
}

.sidebar-wrapper-with-flex [data-slot="sidebar"] {
    @apply flex! flex-col h-auto md:flex!;
}

.recharts-wrapper .recharts-surface {
    outline: 0 !important;
}

.recharts-sector:focus {
    outline: 0 !important;
}
